Flask==1.1.1
numpy
matplotlib
pandas
sklearn
scikit-learn
git+https://github.com/xgfs/msid.git
boto3==1.10.40
Pillow
umap-learn
loguru
flask_cors
pymongo==3.10.0
s3fs==0.4.0
joblib
hydro-serving-grpc==2.2.1
requests==2.22.0
PyYAML
pyarrow
tqdm
jsonschema==3.2.0