Flask==1.1.1
numpy
matplotlib
pandas
sklearn
scikit-learn
git+https://github.com/Hydrospheredata/hydro-serving-sdk.git
git+https://github.com/xgfs/msid.git
boto3==1.12.34
Pillow
umap-learn
loguru
flask_cors
pymongo==3.10.1
s3fs==0.4.2
joblib
requests==2.22.0
PyYAML
pyarrow
tqdm
jsonschema==3.2.0
celery[mongodb]==4.4.0rc3
gitpython~=2.1